@charset "utf-8";
/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)
-----------------------------------------------------------------------------*/

/* =General
-----------------------------------------------------------------------------*/


/* Remove padding and margin */
/* * {
    margin: 0;
    padding: 0;
} */

/* Put it back on certain elements */

/* Class for clearing floats */
/* .clear {
    clear:both;
} */


/* Remove border around linked images */
/* img {
    border: 0;
} */


/* =Typography
-----------------------------------------------------------------------------*/

/* body {
  font: 62.5%/1.6 "Lucida Grande", "Lucida Sans", "Trebuchet MS", Tahoma, Verdana, sans-serif;
} */


/* =Headings
-----------------------------------------------------------------------------*/
#head {
	margin-left: 5px;
	font-weight: bold;
	font-size: 2em;
	color: #48546A; 
}

/** =Toobars
-----------------------------------------------------------------------------*/
.add16 {
    background-image: url( ../icons/fam/add16.gif ) !important;
}

/* =Links
-----------------------------------------------------------------------------*/




/* =Branding
-----------------------------------------------------------------------------*/




/* =Main Nav
-----------------------------------------------------------------------------*/




/* =Sub Nav
-----------------------------------------------------------------------------*/




/* =Main Content
-----------------------------------------------------------------------------*/




/* =Secondary Content
-----------------------------------------------------------------------------*/



/* =Footer
-----------------------------------------------------------------------------*/



/* =Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opea 7 */


/* =Tables
-----------------------------------------------------------------------------*/



/* =Misc 1
-----------------------------------------------------------------------------*/



/* =Misc 2
-----------------------------------------------------------------------------*/